.page {
  background-color: white;
}

.section-container {
  padding: 15px;
  background: #ffffff;
  border-radius: 8px;
  width: 100%;
  overflow: hidden;
}

.zaui-list-item {
  cursor: pointer;
}
.btn-user-card {
  border-radius: 4px;
  border: 2px solid red;
  background-color: white;
  color: red;
}
.member {
  padding: 30px;
}
.box-doctor {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
